body {
  background-color: bisque;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
.whole-container {
  display: flex;
  
}
.container {
  background-color: blue;
  /* display: flex; */
  align-items: center;
justify-content: center;

}
.container-h {
  background-color: blueviolet;
display: flex;
/* align-items: center;
justify-content: center; */
}
.btn {
  background-color: aqua;
}
.todo-box {
  display: flex;
  background-color: red;
}
.todo-container {
  background-color: aquamarine;
}